name: build

on:
  push:
    branches:
      - main
    tags:
      - ".*"
  pull_request:

permissions:
  contents: read

jobs:
  verify:
    runs-on: ${{ matrix.ARCH == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    strategy:
      matrix:
        ARCH: [ "amd64", "arm64"]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440 # v2.1.0
        with:
          # maintenance note: This version needs to be kept in sync with the version referenced in the file /zig-version
          # in the root of the repository.
          version: 0.15.2

      - name: lint source code
        run: |
          make lint

      - name: Run Zig unit tests
        run: make zig-unit-tests ARCH=${{ matrix.ARCH }}

      - name: Run Injector integration tests
        run: make injector-integration-tests-for-one-architecture ARCH=${{ matrix.ARCH }}

  build-package:
    needs: verify
    runs-on: ${{ matrix.ARCH == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    strategy:
      matrix:
        SYS_PACKAGE: [ "deb", "rpm" ]
        ARCH: [ "amd64", "arm64"]
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Determine version
        id: github_tag
        run: |
          TAG="${GITHUB_REF##*/}"
          if [[ -z "$TAG" ]]
          then
            echo "version=$TAG" >> $GITHUB_OUTPUT
          else
            echo "version=dev" >> $GITHUB_OUTPUT
          fi

      - name: Build ${{ matrix.ARCH }} ${{ matrix.SYS_PACKAGE }} package
        run: make ${{ matrix.SYS_PACKAGE }}-package ARCH="${{ matrix.ARCH }}" VERSION="${{ steps.github_tag.version.version }}"

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: otelinject-${{ matrix.ARCH }}-${{ matrix.SYS_PACKAGE }}
          path: ./instrumentation/dist/*.${{ matrix.SYS_PACKAGE }}
          if-no-files-found: error

  packaging-integration-tests:
    needs: build-package
    strategy:
      matrix:
        SYS_PACKAGE: [ "deb", "rpm" ]
        lang: [ "java", "nodejs", "dotnet" ]
        arch: [ "amd64", "arm64" ]
        exclude:
          - lang: "dotnet"
            arch: "arm64"
    runs-on: ${{ matrix.arch == 'amd64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: otelinject-${{ matrix.ARCH }}-${{ matrix.SYS_PACKAGE }}
          path: ./instrumentation/dist

      - name: Run packaging integration tests for ${{ matrix.SYS_PACKAGE }}/${{ matrix.lang }}/${{ matrix.arch }}
        run: ARCH=${{ matrix.arch }} make packaging-integration-test-${{ matrix.SYS_PACKAGE }}-${{ matrix.lang }}

  publish-stable:
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/') && github.repository == 'open-telemetry/opentelemetry-injector'
    needs: build-package
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: mkdir -p artifacts
      - name: Download artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: ./artifacts/
      - name: Prepare release notes
        run: ./.github/workflows/scripts/prepare-release-notes.sh
        env:
          RELEASE_TAG: ${{ steps.github_tag.outputs.tag }}
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          body_path: release-notes.md
          files: |
            artifacts/*
